*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc

Gemfile.lock
share/htdocs/vendor/valums-file-uploader-cf7bfb1/.gitignore
share/htdocs/vendor/valums-file-uploader-cf7bfb1/.gitignore
.project
.settings

UNUSED/
*.swp
.DS_Store

share/htdocs/vendor/jquery-ui-1.8.23/development-bundle
example/wimax
vendor
